extends layout

block content
  h1= title
  p Welcome to #{title}, please select a driver
  select(id="drivers")
    option(value="1")
  div(id="driverData")
    p(id="driverName")
    p(id="driverCityOrigin")
    p(id="driverLanguage")
    p(id="driverPhone")
    p(id="driverGender")
    p(id="driverInfo")
    p(id="carMake")
    p(id="kmDriven")
  div(id="googlemaps")
  
  
  script(src='/javascripts/map.js')