doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/jquery/jquery.js')
    script(src='http://maps.googleapis.com/maps/api/js')
    script(src='/javascripts/script.js')
  body
    block content
