body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#googlemaps {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 450px;
    left: 0;
    z-index: 0;
    opacity: .75;
}
